.mt-5 {
  margin-top: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.responsive-img {
  width: 100%;
  height: auto;
}
.club-logo {
  width : 50px;
  height : 50px;
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}

@media only screen 
and (min-device-width : 1200px) { 
  .dashboards {
    display: inline;
  }
  .bar-chart {
    max-width: 720px;
    float: left;
    margin: 30px;
  }
  .pie-chart {
    float: left;
    max-width: 450px;
    margin: 30px;
  }
}
